<nav class="social">
    {% if facebook %}
        <a href="{{ facebook }}" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}
    {% if twitter %}
        <a href="{{ twitter }}" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}
    {% if google_plus %}
        <a href="{{ google_plus }}" target="_blank">
            <i class="fab fa-google-plus-g"></i>
        </a>
    {% endif %}
    {% if youtube %}
        <a href="{{ youtube }}" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    {% endif %}
    {% if instagram %}
        <a href="{{ instagram }}" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    {% endif %}
    {% if linkedin %}
        <a href="{{ linkedin }}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    {% endif %}
    {% if pinterest %}
        <a href="{{ pinterest }}" target="_blank">
            <i class="fab fa-pinterest-p"></i>
        </a>
    {% endif %}
    {% if snapchat %}
        <a href="{{ snapchat }}" target="_blank">
            <i class="fab fa-snapchat-ghost"></i>
        </a>
    {% endif %}
    {% if myspace %}
        <a href="{{ myspace }}" target="_blank">
            <i class="fas fa-users"></i>
        </a>
    {% endif %}
    {% if yelp %}
        <a href="{{ yelp }}" target="_blank">
            <i class="fab fa-yelp"></i>
        </a>
    {% endif %}
    {% if rss %}
        <a href="/index.php/feed/" target="_blank">
            <i class="fas fa-rss"></i>
        </a>
    {% endif %}
</nav>